@import "tailwindcss";




:root {
  --background: #FFF4F4;
  --strong-red: #EB3A3A;
  --weak-red:#FF6E6E;
  --dark-red:#4A0009;
  --grey:#343434;
}


html,body{
  height:100%;
  min-height: 100vh;
  color:var(--grey);
}

@media (max-height:750px) and (max-width:750px){
  .hide-on-short{
    display: none;
  }
}

