@import "tailwindcss";




:root {
  --background: #FFF4F4;
  --strong-red: #EB3A3A;
  --weak-red:#FF6E6E;
  --dark-red:#4A0009;
  --grey:#343434;
  --light-grey:#F6EAEA;
  --bar-grey:#BCBCBC;
  --elipse-small:#ECECEC; 
}


html,body{
  height:100%;
  min-height: 100vh;
  color:var(--grey);
  scroll-behavior: smooth;
}

@media (max-height:750px) and (max-width:750px){
  .hide-on-short{
    display: none;
  }
}

@media only screen and (min-width:1024px) and (max-height:1200px) {
  .laptop{
    display: flex;
  }
  .laptop-work{
    flex-direction: row;
    padding: 0 3rem;
  }
  .laptop-work p{
    text-align:center
  }
  .laptop-work div{
    align-items: center;
  }
  .laptop-work .work-text{
    max-width: 40%;

  }

}

@media only screen and (min-width:1024px) and (min-height:1050px){
  .ipad{
    display: flex;
  }
}

